<h1 mat-dialog-title>Changer mon mot de passe</h1>
<div mat-dialog-content>

  <p>Entrer votre mot de passe actuel :</p>
  <mat-form-field>
    <mat-label>Mot de passe actuel</mat-label>
    <input matInput type="{{hide1 ? 'password' : 'text'}}" size="1" [(ngModel)]="data.oldPassword" required>
          <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>Veuillez remplir ce champ</mat-error>
  </mat-form-field>

  <p>Saisir votre nouveau mot de passe :</p>
  <mat-form-field>
    <mat-label>Nouveau mot de passe</mat-label>
    <input matInput type="{{hide2 ? 'password' : 'text'}}" size="1" [(ngModel)]="data.newPassword1" required>
          <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
    <mat-error>Veuillez remplir ce champ</mat-error>
    <mat-hint style="color: red" *ngIf="passwordValidator(data.newPassword1)">{{passwordValidator(data.newPassword1)}}</mat-hint>
  </mat-form-field>

  <p>Confirmer votre nouveau mot de passe :</p>
  <mat-form-field
  [ngStyle]="{'color': (data.newPassword2==undefined  || data.newPassword2=='')? null : ((data.newPassword2==data.newPassword1) ? 'green' : 'red'),
  'background-color': (data.newPassword2==undefined  || data.newPassword2=='')? null : ((data.newPassword2==data.newPassword1) ? 'rgb(208, 255, 215)' : 'rgb(238, 178, 167)')}">
    <mat-label >Nouveau mot de passe</mat-label>
    <input matInput type="{{hide3 ? 'password' : 'text'}}" size="1" [(ngModel)]="data.newPassword2" required>
    <button type="button" mat-icon-button matPrefix>
      <mat-icon>verified_user</mat-icon>
    </button>
          <button type="button" mat-icon-button matSuffix (click)="hide3 = !hide3">
            <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
    <mat-hint style="color: red" *ngIf="data.newPassword1!=data.newPassword2 && data.newPassword2!=undefined && data.newPassword2!=''">Ces deux mots de passe ne correspondent pas.</mat-hint>
    <mat-error >Veuillez remplir ce champ</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="changePassword(data.oldPassword, data.newPassword1)" cdkFocusInitial [disabled]="disabled()">Modifier mon mot de passe</button>
  <p style="color: red; float: center;" *ngIf="wrongPassword">Mot de passe incorrect</p>
</div>
