<h1 mat-dialog-title>Supprimer mon compte ?</h1>
<div mat-dialog-content>
  <p>Veuillez entrer votre mot de passe pour vérifier qu'il s'agit bien de vous :</p>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput type="{{hide ? 'password' : 'text'}}" size="1" [(ngModel)]="data.password" required>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
    <mat-hint style="color: red" *ngIf="requiredError">Veuillez remplir ce champ</mat-hint>
    <mat-error *ngIf="!data.password || requiredError">Veuillez remplir ce champ</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <p>Si vous confirmez, votre compte sera supprimé définitivement. Êtes-vous sûr·e de vouloir continuer ?</p>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button color="warn" (click)="deleteAccount(data.password)" cdkFocusInitial [disabled]="disabled()">Supprimer mon compte</button>
  <p style="color: red" *ngIf="wrongPassword">Mot de passe incorrect, la suppression de compte a échoué.</p>
</div>
