<h1 mat-dialog-title>Changer mon mot de passe</h1>
<div mat-dialog-content>

  <p style="color: grey">Dans le cas où vous auriez oublié votre mot de passe, nous vous poserons deux questions auxquelles vous seul·e connaissez la réponse, afin de vérifier votre identité et vous permettre d'accéder à votre compte.</p>
  <p style="color: grey">Choississez ci-dessous vos deux questions secrètes, et entrez la réponse à chacune d'elles :</p>
  <br>

  <p>Entrer votre mot de passe actuel :</p>
  <mat-form-field>
    <mat-label>Mot de passe actuel</mat-label>
    <input matInput type="{{hide1 ? 'password' : 'text'}}" size="1" [(ngModel)]="data.oldPassword" required>
          <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>Veuillez remplir ce champ</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
    <mat-label>Question n°1</mat-label>
    <mat-select matInput required  [(ngModel)]="data.question1">
      <mat-select-trigger>{{data.question1}}</mat-select-trigger>
      <mat-option *ngFor="let question of secretQuestions, let i=index" [value]="question" [disabled]="secretQuestions.indexOf(data.question2)==i">{{question}}</mat-option>
    </mat-select>
    <mat-error *ngIf="!data.question1">Veuillez choisir une question</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
    <mat-label>Réponse à la question 1</mat-label>
    <input matInput [(ngModel)]="data.answer1" required>
    <mat-error *ngIf="!data.answer1">Veuillez remplir ce champ</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
    <mat-label>Question n°2</mat-label>
    <mat-select matInput required [(ngModel)]="data.question2">
      <mat-select-trigger>{{data.question2}}</mat-select-trigger>
      <mat-option *ngFor="let question of secretQuestions, let i=index" [value]="question" [disabled]="secretQuestions.indexOf(data.question1)==i">{{question}}</mat-option>
    </mat-select>
    <mat-error *ngIf="!data.question2">Veuillez choisir une question</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
    <mat-label>Réponse à la question 2</mat-label>
    <input matInput [(ngModel)]="data.answer2"  required>
    <mat-error *ngIf="!data.answer2">Veuillez remplir ce champ</mat-error>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button color="accent" (click)="changeSecretQuestions(data.oldPassword, data.question1, data.answer1, data.question2, data.answer2)" cdkFocusInitial [disabled]="disabled()"
  >Modifier mes questions secrètes</button>
  <p style="color: red; float: center;" *ngIf="wrongPassword">Mot de passe incorrect</p>
</div>
