<div class="container">

  <mat-card class="card">
    <div class="container">

      <form name="form" [formGroup]="form" (ngSubmit)="ModifyUserInfo(form)">
        <br>
        <h4 style="color: crimson; font-family: sans-serif; font-size: 200%; align-content: center;" class="container">Mon profil</h4>
        <br>

        <p style="text-align: center; color: grey; font-size: 13px;"><mat-icon style="color: mediumblue; font-size: large;">info</mat-icon> Les informations suivantes ne sont visibles que par vous. <br> Elles n'apparaitront pas sur vos annonces.</p>
        <br>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Prénom</mat-label>
          <input matInput required formControlName="first_name" readonly = {{readonlyFirstName}}>
          <mat-error *ngIf="form.get('first_name').hasError('required') && !readonlyFirstName">Veuillez remplir ce champ</mat-error>
          <button mat-mat-icon-button matTooltip="Cliquer pour modifier votre prénom" matTooltipPosition = 'after' type="button" mat-icon-button matSuffix (click)="readonlyFirstName=!readonlyFirstName; modified=true;" [ngStyle]="{'color': !readonlyFirstName ? '#01579B' : 'black'}">
            <mat-icon>create</mat-icon>
          </button>
          <!-- <mat-button-toggle><mat-icon>create</mat-icon></mat-button-toggle> -->
          <!-- <mat-chip><mat-icon>create</mat-icon></mat-chip> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="last_name" required readonly = {{readonlyLastName}}>
          <mat-error *ngIf="form.get('last_name').hasError('required')">Veuillez remplir ce champ</mat-error>
          <button mat-mat-icon-button matTooltip="Cliquer pour modifier votre nom" matTooltipPosition = 'after' type="button" mat-icon-button matSuffix (click)="readonlyLastName=!readonlyLastName; modified=true;" [ngStyle]="{'color': !readonlyLastName ? '#01579B' : 'black'}">
            <mat-icon>create</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required readonly = {{readonlyEmail}}>
          <mat-error *ngIf="form.get('email').hasError('required')">Veuillez remplir ce champ</mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">Email non valide</mat-error>
          <button mat-mat-icon-button matTooltip="Cliquer pour modifier votre email" matTooltipPosition = 'after' type="button" mat-icon-button matSuffix (click)="readonlyEmail=!readonlyEmail; modified=true;" [ngStyle]="{'color': !readonlyEmail ? '#01579B' : 'black'}">
            <mat-icon>create</mat-icon>
          </button>
        </mat-form-field>

        <mat-divider></mat-divider>
        <br>

        <p style="text-align: center; color: grey; font-size: 13px;"><mat-icon style="color: crimson; font-size: large;">report</mat-icon> Les informations suivantes apparaitront sur vos annonces :</p>
        <br>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput formControlName="username" required readonly = {{readonlyUsername}}>
          <mat-error *ngIf="form.get('username').hasError('required')">Veuillez remplir ce champ</mat-error>
          <button mat-mat-icon-button matTooltip="Cliquer pour modifier votre nom d'utilisateur" matTooltipPosition = 'after' type="button" mat-icon-button matSuffix (click)="readonlyUsername=!readonlyUsername; modified=true;" [ngStyle]="{'color': !readonlyUsername ? '#01579B' : 'black'}">
            <mat-icon>create</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Numéro de téléphone</mat-label>
          <input matInput formControlName="phone_number" readonly = {{readonlyPhoneNumber}}>
          <!-- <mat-error *ngIf="form.get('phone_number').hasError('length')">Numéro de téléphone non valide</mat-error> -->
          <button mat-mat-icon-button matTooltip="Cliquer pour modifier votre numéro de téléphone" matTooltipPosition = 'after' type="button" mat-icon-button matSuffix (click)="readonlyPhoneNumber=!readonlyPhoneNumber; modified=true;" [ngStyle]="{'color': !readonlyPhoneNumber ? '#01579B' : 'black'}">
            <mat-icon>create</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="textarea">
          <mat-label>Autres informations de contact</mat-label>
          <textarea matInput formControlName="contact" rows=7 placeholder="Entrez les informations de contact que vous voulez voir apparaître sur vos annonces. (exemples : e-mail, Facebook, Whatsapp, Instagram, adresse postale, etc.)" readonly = {{readonlyContact}}></textarea>
          <button mat-mat-icon-button matTooltip="Cliquer pour modifier vos informations de contact" matTooltipPosition = 'after' type="button" mat-icon-button matSuffix (click)="readonlyContact=!readonlyContact; modified=true;" [ngStyle]="{'color': !readonlyContact ? '#01579B' : 'black'}">
            <mat-icon>create</mat-icon>
          </button>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="container">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="{{hide ? 'password' : 'text'}}" size="1" formControlName="password"required minlength=5 maxlength=25 readonly = {{readonly}}>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password').hasError('required')">Veuillez remplir ce champ</mat-error>
          <mat-error *ngIf="form.get('password').hasError('minlength')">Doit contenir au moins 5 caractères</mat-error>
          <mat-error *ngIf="form.get('password').hasError('maxlength')">Ne doit pas contenir plus de 25 caractères</mat-error>
        </mat-form-field> -->

        <mat-card-actions>
          <div class="container">
            <button mat-raised-button color="primary" type="submit" [disabled]="!modified">
              <mat-icon>save</mat-icon>
              Enregistrer les modifications
            </button>
            <button mat-raised-button type="submit" [disabled]="!modified">
              <mat-icon [ngStyle]="{'color': modified ? 'red' : 'grey'}" >cancel</mat-icon>
              Annuler
            </button>
          </div>
          <br>
          <div class="container">
            <button mat-stroked-button color="accent" type="button" (click)="openPasswordDialog()">
              <mat-icon>vpn_key</mat-icon>
              Modifier mon mot de passe</button>
          </div>
          <br>
          <div class="container">
            <button mat-raised-button color="warn" type="button" (click)="openDialog()">
              <mat-icon>delete</mat-icon>
              Supprimer mon compte
            </button>
          </div>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>





</div>
