.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 5%;
  max-width: 500px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  margin-top: 4%;
  width: 55%;
  margin-left:21%;
}

.textarea {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .password-field{
  color: green;
  background-color: rgb(208, 255, 215);
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label .password-field{
  color: green !important;
  background-color: rgb(208, 255, 215);
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: green !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label .password-field{
  color: green !important;
}

.change-password-dialog {
  font-size: 16px;
  color: blue;
  background-color: burlywood;
  border: solid 1px #c0c0ff;
} */
