<mat-card>
  <div>
    <br>
    <h1 style="float: left">{{post.title}}</h1>
    <h2 align="right" style= "color: crimson;" *ngIf="post.price!=0">{{post.price}} €</h2>
    <h2 align="right" style= "color: crimson;" *ngIf="post.price==0">Gratuit</h2>
    <h4 style="color: darkgray;">Catégorie : {{post.category}}</h4>

    <div class="container2" *ngIf="post.urls!=null && post.urls.length>0">
      <div class="mySlides" >
        <div *ngIf="post.urls!=null && post.urls.length>0" class="numbertext">{{slideIndex+1}} / {{post.urls.length}}</div>
        <img [src]="post.urls[slideIndex]" style="width:100%">
      </div>
      <a class="prev" (click)="PlusSlides(-1)" *ngIf="slideIndex>0">&#10094;</a>
      <a class="next" (click)="PlusSlides(1)" *ngIf="slideIndex<post.urls.length-1">&#10095;</a>
      <div class="row">
        <div class="column" *ngFor='let url of post.urls; let i = index'>
          <img [className]="(i==slideIndex) ? 'demo cursor active' : 'demo cursor'" [src]="url" style="width:100%" (click)="currentSlide(i)">
        </div>
      </div>
    </div>

    <br>
    <h2 *ngIf="post.description">Description</h2>
    <p>{{post.description}}</p>
    <br>

    <br>
    <span class="date" >
      {{post.date | date:'dd/MM/yyyy'}} à {{post.date | date: 'hh:mm'}}
    </span>
    <span class="views">
      {{post.views}} vues
    </span>
    <br>

  </div>
  <br>

  <mat-divider></mat-divider>
  <br>

  <h3>Contacter l'annonceur :</h3>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"  [ngStyle]="{'color': userColor}" >
      <mat-icon style="transform: scale(2);">account_circle</mat-icon>
    </div>
    <mat-card-title>{{post.username}}</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <div *ngIf="user.numTel">
      <span>Numéro de téléphone : </span>
      <span>{{user.numTel}}</span>
    </div>
    <div *ngIf="user.contactInfo">
      <span>{{user.contactInfo}}</span>
    </div>
  </mat-card-content>

  <mat-divider *ngIf="post.username==authService.getUsername()"></mat-divider>
  <br *ngIf="post.username==authService.getUsername()">

  <mat-card-actions>
    <div class="container" *ngIf="post.username==authService.getUsername()">
      <button mat-raised-button (click)="openDialog()" color="warn">
        <mat-icon>delete</mat-icon>
        Supprimer mon annonce</button>
    </div>
  </mat-card-actions>
  <br>

</mat-card>
