<mat-toolbar color="primary" style="position: sticky; top: 0; z-index: 1000;">   <!--primary, accent or warn-->
  <span>
    <mat-icon class="main" svgIcon="rhino"></mat-icon>
  </span>
  <button mat-button>
      <h1 routerLink="/">INSA'Troc</h1>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/deposer-une-annonce">
    <mat-icon>add_circle</mat-icon>
    Déposer une annonce
  </button>
  <span class="spacer"></span>

  <button mat-button routerLink="/toutes-les-annonces">
    <mat-icon>dns</mat-icon>
    Voir toutes les annonces
  </button>

  <span class="spacer"></span>

  <mat-icon >brightness_3</mat-icon>
  <mat-slide-toggle (change)='changetheme()' checked={{slidetoggle}}>
  </mat-slide-toggle>

  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <mat-form-field class="searchbar" appearance="outline" (keydown.enter)="Search(search)">
    <mat-label>Rechercher une annonce</mat-label>
    <input matInput type="text" [(ngModel)]="search">
    <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>



  <span class="spacer"></span>

  <ng-container *ngIf="authService.isAuthenticated()">
    <button mat-button [matMenuTriggerFor]="profile">
      <mat-icon>account_circle</mat-icon>
      {{authService.getUsername()}}
    </button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item routerLink="/mon-profil">Mon profil</button>
      <button mat-menu-item routerLink="/mes-annonces">Mes annonces</button>
      <button mat-menu-item routerLink="/connexion" (click)="Disconnect()">Déconnexion</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="!authService.isAuthenticated()">
    <button mat-button routerLink="/connexion">
      <mat-icon>account_circle</mat-icon>
      Connexion
    </button>
  </ng-container>



</mat-toolbar>
