mat-sidenav-container {

    height: 100%;


}
mat-sidenav, mat-sidenav-content {
    padding-left: 2%;
}
mat-sidenav {
    background-color: crimson;
    width: 20%;
}
mat-toolbar {
}
.spacer {
    flex: 1 1 auto;
}
.main{
  transform: scale(1.5);

}
h1 {
    font: italic;
}

mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
  font-size: 15px;
}


/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent !important;
} */

.mat-button {
  padding: 0 30px; /* Changes position of dropdown icons */
}
