<div class="container">
  <mat-card class="card">
    <mat-tab-group>
      <mat-tab label="Identité">
        <br>
        <mat-form-field appearance="outline" class="container">
          <mat-label>Email</mat-label>
          <!-- <input matInput placeholder="pat@example.com" ngModel [formControl]="email"  required> -->
          <input matInput placeholder="pat@example.com" required [(ngModel)]="email">
          <mat-error *ngIf="!email">Veuillez remplir ce champ</mat-error>
        </mat-form-field>

        <div>
          <button mat-stroked-button color="primary" (click)="getSecretQuestions()" [disabled]="!email" type="button" style="float: right;">Suivant</button>
        </div>

      </mat-tab>
      <mat-tab label="Questions secrètes" disabled> Questions secrètes </mat-tab>
      <mat-tab label="Réinitialisation du mot de passe"> Réinitialisation du mot de passe </mat-tab>
    </mat-tab-group>

  </mat-card>


</div>
