<div class="container">
  <mat-card class="card">
    <mat-tab-group [selectedIndex]="index">
      <mat-tab label="Identité" [disabled]="index!=0">
        <br>
        <mat-form-field appearance="outline" class="container">
          <mat-label>Email</mat-label>
          <!-- <input matInput placeholder="pat@example.com" ngModel [formControl]="email"  required> -->
          <input matInput placeholder="pat@example.com" required [(ngModel)]="email">
          <mat-error *ngIf="!email">Veuillez remplir ce champ</mat-error>
        </mat-form-field>

        <div>
          <button mat-stroked-button color="primary" (click)="getSecretQuestions()" [disabled]="!email" type="button" style="float: right;">Suivant</button>
        </div>

      </mat-tab>
      <mat-tab label="Questions secrètes" [disabled]="index!=1">
        <br>
        <p>{{secretQuestions[questionID1]}}</p>
        <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
          <!-- <mat-label>Réponse à la question 1</mat-label> -->
          <input matInput [(ngModel)]="answer1"  required>
          <mat-error *ngIf="!answer1">Veuillez remplir ce champ</mat-error>
        </mat-form-field>

        <br>
        <p>{{secretQuestions[questionID2]}}</p>
        <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
          <!-- <mat-label>Réponse à la question 2</mat-label> -->
          <input matInput [(ngModel)]="answer2"  required>
          <mat-error *ngIf="!answer2">Veuillez remplir ce champ</mat-error>
        </mat-form-field>

        <div>
          <button mat-stroked-button color="primary" (click)="checkSecretQuestions()" [disabled]="!answer1 || !answer2" type="button" style="float: right;">Suivant</button>
        </div>

      </mat-tab>
      <mat-tab label="Réinitialisation du mot de passe" [disabled]="index!=2"> Réinitialisation du mot de passe </mat-tab>
    </mat-tab-group>

  </mat-card>


</div>
