<div class="container">

  <mat-card class="card">
    <div class="container">

      <form name="form" [formGroup]="form" (ngSubmit)="Register(form)">
        <br>
        <h4 style="color: crimson; font-family: sans-serif; font-size: 200%; align-content: center;" class="container">Se créer un compte</h4>
        <p class="container">Vous avez déjà un compte ? &nbsp; <a routerLink="/connexion"> Connectez-vous</a></p>
        <br>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Marie" required formControlName="first_name">
          <mat-error *ngIf="form.get('first_name').hasError('required')">Veuillez remplir ce champ</mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Dupont" formControlName="last_name"  required>
          <mat-error *ngIf="form.get('last_name').hasError('required')">Veuillez remplir ce champ</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput placeholder="Mdupont" formControlName="username"  required>
          <mat-error *ngIf="form.get('username').hasError('required')">Veuillez remplir ce champ</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email"  required>
          <mat-error *ngIf="form.get('email').hasError('required')">Veuillez remplir ce champ</mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">Email non valide</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="{{hide ? 'password' : 'text'}}" placeholder="******" size="1" formControlName="password"required minlength=5 maxlength=25>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('password').hasError('required')">Veuillez remplir ce champ</mat-error>
          <mat-error *ngIf="form.get('password').hasError('minlength')">Doit contenir au moins 5 caractères</mat-error>
          <mat-error *ngIf="form.get('password').hasError('maxlength')">Ne doit pas contenir plus de 25 caractères</mat-error>
        </mat-form-field>

        <mat-divider></mat-divider>
        <br>

        <h2>Questions secrètes :</h2>
        <p style="color: grey">Dans le cas où vous auriez oublié votre mot de passe, nous vous poserons deux questions auxquelles vous seul·e connaissez la réponse, afin de vérifier votre identité et vous permettre d'accéder à votre compte.</p>
        <p style="color: grey">Choississez ci-dessous vos deux questions secrètes, et entrez la réponse à chacune d'elles :</p>
        <br>

        <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
          <mat-label>Question n°1</mat-label>
          <mat-select matInput required  formControlName="question1" [(value)]="selected1">
            <mat-select-trigger>{{selected1}}</mat-select-trigger>
            <mat-option *ngFor="let question of secretQuestions, let i=index" [value]="question" [disabled]="secretQuestions.indexOf(form.value.question2)==i">{{question}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('question1').hasError('required')">Veuillez choisir une question</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
          <mat-label>Réponse à la question 1</mat-label>
          <input matInput formControlName="answer1"  required>
          <mat-error *ngIf="form.get('answer1').hasError('required')">Veuillez remplir ce champ</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
          <mat-label>Question n°2</mat-label>
          <mat-select matInput required  formControlName="question2" [(value)]="selected2">
            <mat-select-trigger>{{selected2}}</mat-select-trigger>
            <mat-option *ngFor="let question of secretQuestions, let i=index" [value]="question" [disabled]="secretQuestions.indexOf(form.value.question1)==i">{{question}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('question2').hasError('required')">Veuillez choisir une question</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="display: block; width: 400px !important;">
          <mat-label>Réponse à la question 2</mat-label>
          <input matInput formControlName="answer2"  required>
          <mat-error *ngIf="form.get('answer2').hasError('required')">Veuillez remplir ce champ</mat-error>
        </mat-form-field>

        <mat-card-actions>
          <div class="container">
            <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid" >Créer mon compte</button>
          </div>
          <br>
          <div>
            <mat-error style="color:red" *ngIf="error">Ce nom d'utilisateur ou email existe déjà, veuillez réessayer.</mat-error>
          </div>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>





</div>
